<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
       Manage your Task
</head>
<body>
<div>
    <h1 style="text-align:center">TODO MANAGER</h1>

    <tr>
        <div align = "left" >

                 <h3><a  th:href="@{'/new'}">Add new</a></h3>

        </div>

    </tr>
    <tr>

        <div class="col-sm-5" align = "center">
            <div class="panel-body" align = "center" >


                <table class="table">

                    <tbody>
                    <tr  th:each="x : ${ListToDo}">
                        <td th:text="${x.tid}">id</td>
                        <td th:text="${x.name}">Name</td>
                        <td th:text="${x.desc}">Desc</td>
                        <td th:text="${x.status}">Status</td>
                        <td>
                            <a th:href="@{'/edit/' + ${x.tid}}">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{'/delete/' + ${x.tid}}">Delete</a>
                        </td>
                    </tr>

                    </tbody>

                </table>


            </div>

        </div>

    </tr>

    </tbody>
    </table>
    <div>
</body>
</html>